<div id="title" class="title">
  Ism Amazigh > Acerca de
</div>
<div id="contenido">
  <div class="titleContent">
    Desarrollador y fuentes de los significados de los nombres:
  </div>
  <span class="titleabout">Desarrollador:</span><br />
  <ul class="subtitleabout">
    <li>Mustapha Koumach</li>
  </ul>
  <span class="titleabout">Fuentes:</span><br />
  <ul class="subtitleabout">
    <li><%= link_to "mondeberbere.com", "http://www.mondeberbere.com/", :target => '_blank' %></li>
    <li><%= link_to "mariage-franco-marocain.net", "http://www.mariage-franco-marocain.net", :target => '_blank' %></li>
    <li><%= link_to "bahdja.com", "http://www.bahdja.com", :target => '_blank' %></li>
    <li><%= link_to "http://www.tamazgha.fr/", "tamazgha.fr", :target => '_blank' %></li>
    <li><%= link_to "http://www.amazighworld.org", "amazighworld.org", :target => '_blank' %></li>
    <li><%= link_to "http://mogador7.forumactif.com", "mogador7.forumactif.com", :target => '_blank' %></li>
  </ul>
</div>